# Modules Django
Django~=3.1.7
djangorestframework~=3.12.2
Markdown~=3.3.3
django-filter~=2.4.0
requests~=2.25.1
drf-yasg~=1.20.0
djangorestframework-yaml
djangorestframework-xml
drf-renderer-xlsx
djangorestframework-csv
pytest-django
pytest-docker-fixtures
pytest-docker-fixtures[mysql]
pytest-docker-fixtures[pg]
pytest-rerunfailures

# Modules BBDD
SQLAlchemy~=1.4
psycopg2_binary~=2.8.6
mysql-connector-python~=8.0.23
cx-Oracle~=8.1.0
