aiohttp~=3.7.4
cchardet~=2.1
cx-Oracle~=8.3.0
Django~=4.2.16
django-axes~=8.0.0
djangorestframework~=3.14.0
djangorestframework-yaml~=2.0.0
djangorestframework-xml~=2.0.0
djangorestframework-csv~=2.1.1
drf-renderer-xlsx~=1.0.0
drf-spectacular~=0.27.0
gunicorn~=21.2.0
mysqlclient~=2.2.7
numpy~=2.1.0
pandas~=2.2.3
psycopg2-binary~=2.9.9
pydantic~=2.9.0
SQLAlchemy~=2.0.35
sqlathanor~=0.7
requests~=2.32.3
whitenoise~=6.6.0
pymssql~=2.3.6
pyodbc~=5.2.0
XlsxWriter~=3.0.2
GeoAlchemy2~=0.14.2
shapely~=2.1.0
openpyxl~=3.1.0
django-easy-audit~=1.3.7
python-dotenv~=1.0.1
