{% extends "gaodcore_manager/manager_base.html" %}
{% load i18n %}

{% block title %}{{ form_title }} | {% trans "GA OD Core Manager" %}{% endblock %}

{% block manager_content %}
<h1>{{ form_title }}</h1>
<form method="post" class="manager-form" novalidate>
  {% csrf_token %}
  {% if form.non_field_errors %}
    <ul class="manager-form__errors">
      {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
    </ul>
  {% endif %}
  {% for field in form %}
    <div class="manager-form__field">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}<p class="manager-form__help">{{ field.help_text }}</p>{% endif %}
      {% if field.errors %}
        <ul class="manager-form__errors">
          {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
  <div class="manager-form__actions">
    <button type="submit" class="manager-button">{% trans "Save" %}</button>
    <a href="{{ cancel_url }}" class="manager-button">{% trans "Cancel" %}</a>
  </div>
</form>
{% endblock %}
