{% extends "gaodcore_manager/manager_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %} | {% trans "GA OD Core Manager" %}{% endblock %}

{% block breadcrumbs %}
  <nav class="manager-breadcrumbs" aria-label="{% trans 'Breadcrumb' %}">
    <a href="{% url 'manager_web:resource-list' %}">{% trans "Manager" %}</a>
    <span class="manager-breadcrumbs__sep">&rsaquo;</span>
    <a href="{% url 'account:profile' %}">{% trans "My profile" %}</a>
    <span class="manager-breadcrumbs__sep">&rsaquo;</span>
    <span aria-current="page">{% trans "Change password" %}</span>
  </nav>
{% endblock %}

{% block manager_content %}
<h1>{% trans "Change password" %}</h1>
<form method="post" class="manager-form" novalidate>
  {% csrf_token %}
  {% if form.non_field_errors %}
    <ul class="manager-form__errors">
      {% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}
    </ul>
  {% endif %}
  {% for field in form %}
    <div class="manager-form__field">
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}<p class="manager-form__help">{{ field.help_text }}</p>{% endif %}
      {% if field.errors %}
        <ul class="manager-form__errors">
          {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endfor %}
  <div class="manager-form__actions">
    <button type="submit" class="manager-button">{% trans "Change password" %}</button>
    <a href="{% url 'account:profile' %}" class="manager-button">{% trans "Cancel" %}</a>
  </div>
</form>
{% endblock %}
